/* font-family: 'Monoton', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Zen Maru Gothic', sans-serif; */

body {
    background-image: url('../assets/light.jpg');
    background-size: cover;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: rgba(71, 36, 6, 0.63);
    display: flex;
    flex-direction: column;
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
    font-family: 'Zen Maru Gothic', sans-serif;
}


#logo {
    width: 187px;
    height: 78px;
    left: 17px;
    top: 29px;

    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 57px;
    margin: 25px; 
    display: flex; 
}

#user-display {
    font-family: 'Zen Maru Gothic', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    margin: 25px;
}


#main-container {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.tasks {
    background-color: rgba(151, 154, 150, 0.42);  
    backdrop-filter: blur(5px);
}
#message-container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

#task-form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90vw;
}

#task-input {
    height: 30px;
    width: 30vw;
}

#task-input-button {
    height: 30px;
    border: grey; 
    color:rgba(71, 36, 6, 0.63);
}

#task-input-button:hover{
    cursor: pointer;
    border-top: 5px solid rgba(71, 36, 6, 0.63);
    border-bottom: 5px solid rgba(71, 36, 6, 0.63);
    opacity: 1; 
    transform: scale(1, 1);
}

#task-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

  #hourglass {
    animation: pulse 5s infinite ease-in-out;
}
  
ul {
    list-style-type:none;
}

#time-container{
    background-color: rgba(151, 154, 150, 0.42);  
    backdrop-filter: blur(5px);
    width: 85%;
    margin: 10px; 
    padding: 25px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#time-buttons{
    display: flex;
    justify-content: center;
}

#start-button{
    height: 50px; 
    margin-top: 20px; 
    border: 10px solid grey;
}

#start-button:hover{
    cursor: pointer;
    border: 15px solid rgba(71, 36, 6, 0.63);
    opacity: 1; 
    transform: scale(1, 1);
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > a:link, footer > a:visited{
    color: white;
}