/* font-family: 'Monoton', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Zen Maru Gothic', sans-serif; */

body {
    background-image: url('../assets/light.jpg');
    background-size: cover;
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
    font-family: 'Zen Maru Gothic', sans-serif;
}


#logo {
    /* position: absolute; */
    width: 187px;
    height: 78px;
    left: 17px;
    top: 29px;

    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 57px;
    margin: 25px; 
    display: flex; 
}

#user-display {
    /* position: absolute;
    width: 488px;
    height: 75px;
    left: 918px;
    top: 22px; */

    font-family: 'Zen Maru Gothic', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    margin: 25px;
}


#main-container {
    /* position: absolute; */
    display: flex; 
    flex-direction: column; 
    justify-content: start;
    align-items: center;
    width: 90vw;
    height: 85vh;
    font-family: 'Zen Maru Gothic', sans-serif;
}

#task-form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90vw;
}

#task-list-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 90vw;
}


@keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

  #hourglass {
    animation: pulse 5s infinite ease-in-out;
}
  
ul {
    list-style-type:none;
}

#task-input-button {
    width: 100px;
    height: 100px;
}