#main-container {
    position: absolute;
    width: 1440px;
    height: 1042px;
    left: 0px;
    top: 0px;
    /* background-image:  */
}

#logo {
    position: absolute;
    width: 187px;
    height: 78px;
    left: 17px;
    top: 29px;

    font-family: SF UI Text;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 57px;
}

#user-display {
    position: absolute;
    width: 488px;
    height: 75px;
    left: 918px;
    top: 22px;

    font-family: SF UI Text;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
}

#task1 {
    position: absolute;
    width: 373px;
    height: 74px;
    left: 533px;
    top: 438px;

    background: rgba(196, 196, 196, 0.83);
    border: 6px solid #000000;
    box-sizing: border-box;
    border-radius: 18px;
}

#task2 {
    position: absolute;
    width: 373px;
    height: 74px;
    left: 533px;
    top: 559px;

    background: rgba(196, 196, 196, 0.83);
    border: 6px solid #000000;
    box-sizing: border-box;
    border-radius: 18px;
}

#task3 {
    position: absolute;
    width: 373px;
    height: 74px;
    left: 533px;
    top: 694px;

    background: rgba(196, 196, 196, 0.83);
    border: 6px solid #000000;
    box-sizing: border-box;
    border-radius: 18px;
}

#task-input-button {
    position: absolute;
    width: 319px;
    height: 60px;
    left: 560px;
    top: 866px;

    background: #72DCF3;
    border-radius: 13px;
}