body{
    background: linear-gradient(180deg, #9DCF94 0%, #11A797 98.96%);
    position: relative;
    width: 1440px;
    height: 1000px;  
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hourglass-image{
    height: 100%;
    animation: pulse 5s infinite ease-in-out;
}

.logo{
    height: 53px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
color: #FAFBFF;

}

.title{

    position: absolute;
width: 469px;
height: 88px;
left: 550px;
top: 20px;

font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 78px;

color: #FAFBFF;

}

#audio {
    position: relative;
    top: 200px;
    left: 600px;
}

.team-slogan{
    position: absolute;
width: 520px;
height: 88px;
left: 575px;
top: 90px;

font-family: Helvetica Neue;
font-style: italic;
font-weight: 300;
font-size: 35px;
line-height: 57px;

color: #FAFBFF;
}

#mark-name{
    position: absolute;
width: 325px;
height: 46px;
left: 211px;
top: 352px;

font-family: SF UI Text;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 57px;
color: white;
}

#mark-info{
    position: absolute;
    width: 365px;
    height: 47px;
    left: 211px;
    top: 413px;
    
    font-family: SF UI Text;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    
    color: #FFFFFF;
    
    

}

#mark-pic{
    position: absolute;
    width: 108px;
    height: 108px;
    left: 72px;
    top: 370px;
    
    background: url(mark.png);
    border-radius: 73px;
    
}


#michelle-name{
    position: absolute;
    width: 398px;
    height: 46px;
    left: 899px;
    top: 352px;
    
    font-family: SF UI Text;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    
    color: #FFFFFF;
    
    
}

#michelle-info{
    position: absolute;
    width: 503px;
    height: 46px;
    left: 897px;
    top: 413px;
    
    font-family: SF UI Text;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    
    color: #FFFCFC;
 

}

#michelle-pic{

    position: absolute;
    width: 108px;
    height: 108px;
    left: 760px;
    top: 375px;
    
    background: url(michelle.png);
    border-radius: 52px;
}

#mira-name{
    position: absolute;
width: 432px;
height: 46px;
left: 211px;
top: 540px;

font-family: SF UI Text;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 57px;

color: #FFFCFC;

}

#mira-info{
 
    position: absolute;
width: 503px;
height: 46px;
left: 211px;
top: 600px;

font-family: SF UI Text;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 43px;

color: #FFFCFC;


}

#mira-pic{
    position: absolute;
width: 108px;
height: 108px;
left: 73px;
top: 570px;

background: url(mira.png);
border-radius: 74px;
 
}



#spencer-name{
    
    position: absolute;
width: 442px;
height: 46px;
left: 899px;
top: 535px;

font-family: SF UI Text;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 57px;

color: #FFFCFC;
    

}

#spencer-info{
 
    position: absolute;
    width: 503px;
    height: 46px;
    left: 899px;
    top: 593px;
    
    font-family: SF UI Text;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    
    color: #FFFCFC;


}

#spencer-pic{
  
    position: absolute;
    width: 108px;
    height: 108px;
    left: 760px;
    top: 570px;
    
    background: url(spencer.jpg);
    border-radius: 68px;
 
}

@keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }
}