body{
  
    background: linear-gradient(180deg, #9DCF94 0%, #11A797 98.96%);
    position: relative;
    width: 1440px;
    height: 1000px; 
  
}

.logo{
    color: white;
    
    font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 59px;

}



#completed-header{
text-align: center;
font-size: 20pt;

}

#incompleted-header{
    font-size: 20pt;
    
    text-align: center;
}


h1{
    color: black;
    font-family: Gilroy;
font-style: normal;
font-weight: 800;

line-height: 59px;
   

}


h3{
color: black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 800;
text-align: center;
line-height: 30px;
font-size: 30px;
}

#results-display{
    position: absolute;
width: 689px;
height: 448px;
left: 375px;
top: 80px;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
border-radius: 27px;


}

#home-button{
    position: absolute;
    width: 318px;
    height: 91px;
    left: 375px;
    top: 600px;
    
    background: #2C5CB9;
    border-radius: 11px;
    color: white; 
    
    font-family: SF UI Text;
font-style: normal;
font-weight: bold;


}

#new-task-button{
    position: absolute;
width: 318px;
height: 91px;
left: 746px;
top: 600px;

background: #2C5CB9;
color: white;

border-radius: 11px;

font-family: SF UI Text;
font-style: normal;
font-weight: bold;

}




#timer-button{
    position: absolute;
width: 318px;
height: 91px;
left: 560px;
top: 710px;

background: #2C5CB9;
color: white;

border-radius: 11px;

font-family: SF UI Text;
font-style: normal;
font-weight: bold;

}



#bar-background {
    width: 50vw;
    height: 20px;
    position: relative;
    margin: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: inset 0.5px 0.5px 5px black;
    top: 350px;
}

.progress-bar{
    width: 100%;
    height: 100%;
    /* background-color: rgb(105, 180, 121); */
  
    position: absolute;
    transition : width 5s ease;
    border-radius: 5px;
    background-image: linear-gradient(#9ae797, #67ac61);
    box-shadow: inset 0px 0px 3px rgb(70, 70, 70);
}

@keyframes progress-animation {
    0% { width: 0%;}
    100% {width: 100%}
}



a.nav-link:link{
    color: #ffffff;
    text-decoration: none;
}

a.nav-link:visited{
    color: #ffffff;
    text-decoration: none;
}
a.nav-link:hover{
    color: #ffffff;
    text-decoration: none;
}

a.nav-link:active{
    color: #ffffff;
    text-decoration: none;
}
