ul {
    list-style-type:none;
}

.completed {
    display: none;
}

body{
    background: green;
    background-image: url(../assets/grassdew.jpg);
    background-size: cover; 
    color: white;
    font-family: 'Zen Maru Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    font-family: 'Zen Maru Gothic', sans-serif;
}

#hourglass-image{
    height: 100%;
}

h1{
    text-align: center;
    font-family: 'zen maru gothic', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;

}


footer {

        position:absolute;
        bottom:0;
        width:100%;
        height: 5rem;  
        display: flex;
        align-items: center;
     
}

#bottom {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(2px);
    padding: 10px;
    border-radius: 5px;
    box-shadow:  0px 0px 4px rgba(36, 36, 36, 0.315);
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
}