body{
    background: green;
    background-image: url(../assets/grassdew.jpg);
    background-size: cover; 
    color: white;
    font-family: 'Zen Maru Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style-type:none;
}

.completed {
    display: none;
}


header {
    display: flex;
    align-items: center;
    font-family: 'Zen Maru Gothic', sans-serif;
}


#hourglass-image{
    height: 100%;
}


h1{
    text-align: center;
    font-family: 'zen maru gothic', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 5rem;  
    display: flex;
    align-items: center;
    justify-content: center

}

#bottom {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(2px);
    padding: 10px;
    border-radius: 5px;
    /* box-shadow:  0px 0px 4px rgba(36, 36, 36, 0.315); */
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
}

#top {
    font-size: 20px;
    font-family: 'zen maru gothic', sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(2px);
    padding: 10px;
    border-radius: 5px;
    box-shadow:  0px 0px 4px rgba(56, 56, 56, 0.479);
}
#bar-background {
    width: 100%;
    height: 40px;
    position: relative;
    right: 10px;
    
    margin: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: inset 0.5px 0.5px 5px rgba(54, 54, 54, 0.712);
}

#progress-bar{
    width: 0%;
    height: 38px;

    position: absolute;
    top: 1px;
    transition : width 5s ease;
    border-radius: 5px;
    background-image: linear-gradient(#b4d3df67, #7a8f7977);
    box-shadow: inset 0px 0px 2px rgb(184, 184, 184);
}

#quote-text{
    font-size: 28pt;

    
        animation: fadeIn ease 4s;
        -webkit-animation: fadeIn ease 4s;
        -moz-animation: fadeIn ease 4s;
        -o-animation: fadeIn ease 4s;
        -ms-animation: fadeIn ease 4s;
      }
      @keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-moz-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-webkit-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-o-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-ms-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
      }
      
}
