body{
    background: green;
    background-image: url(../assets/grassdew.jpg);
    background-size: cover; 
    color: white;
    font-family: 'Zen Maru Gothic', sans-serif;
}

header {
    display: flex;
    align-items: center;
}

#hourglass-image{
    height: 100%;
}

#main-h1{
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

#name-input {
    padding: 10px; 
    margin: 20px;
}

#name-input-button {
    border-radius: 30%;
    padding: 10px; 
    margin: 20px;
    background-color: rgba(217, 233, 208, 0.8);
}

#name-input-button:hover{
    cursor: pointer;
}

footer {
    margin: 25px;
    text-align: center;
}

a:hover{
    cursor: pointer;
    color: green;
}

a:link, a:visited {
    color: white;
}
